# Credijusto Data Scientist Challenge ðŸ’»ðŸ’°ðŸš€

## Dataset description.

#### 1) Personal [data table]
- **client_id**
    - key to job table
    - key to bank table
    - key to transactional data table
- name
- address
- phone_number
- email_domain
- smoker
- is_married
- car_licence_plate
- age
- number_of_children
- years_of_education
- has_criminal_records

#### 2. Job [data table]
- **client_id**
    - key to personal table
    - key to bank table
    - key to transactional data table
- company
- phone_number
- address
- email_domain
- current_job
- car_licence_plate
- years_in_current_job
- salary

#### 3. Bank [data table]
- **client_id**
    - key to personal table
    - key to job table
    - key to transactional data table
- account_id
    - key to transactional data table
- number_of_credit_cards
- number_logs_per_day
- number_secret_keys_requested
- credit_card_number
- credit_card_expire
- credit_card_provider
- credit_score
- first_credit_card_application_date
- last_credit_card_application_date
- **defaulted_loan**
    - Variable to predit

#### 4. Transactional [data table]
- **transaction_id**
- **account_id**
    - key to bank table
- **client_id**
    - key to personal table
    - key to job table
    - key to bank data table
- duration_minutes
- amount
- type
- date

## Business question

#### Background

1. **Only the training set bank data table has the column defaulted_loan** which has two different outcomes:
    - True
        - Client defaulted (did not pay credit).
        - This is the *Positive class*
    - False
        - Client is OK (did pay credit).
        - This is the *Negative class*
2. You need to make a predictive model to **make predictions of the feature defaulted_loan on the test dataset**.
3. **The evaluation of this challenge relies only on the prediction scores on test dataset**.
    - Choose wisely the evaluation metric for this challenge.

# Problem definition

Lenders provide loans to borrowers in exchange for the promise of repayment with interest. That means the lender only makes profit (interest) if the borrower pays off the loan. However, if he/she doesnâ€™t repay the loan, then the lender loses money.

Therefore the lending industry is based in the answers of two critical questions: 

1) How risky is the borrower?

2) Given the borrowerâ€™s risk, should we lend him/her? 

The answer to the first question determines the interest rate the borrower would have. Interest rate measures among other things (such as time value of money) the riskness of the borrower, i.e. the riskier the borrower, the higher the interest rate. With interest rate in mind, we can then determine if the borrower is eligible for the loan.

"Predicting Loan Repayment", Imad Dabbura https://towardsdatascience.com/predicting-loan-repayment-5df4e0023e92 [1]

As stated in the Business question, for our purposes we would only predict the answer of the question 1.

## The importance of predicting right the borrower's riskness

bla bla...

# Set working environment

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.utils import shuffle, safe_indexing
from sklearn.datasets import make_classification
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="ticks")
import io
import matplotlib as plt
# Run this to install not common libraries
#!pip install eli5
import eli5

C:\Users\maumt\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)
C:\Users\maumt\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.feature_selection.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.
  warnings.warn(message, FutureWarning)

# Importing data

In [2]:
data = {
    'train': {
        'personal': pd.read_csv('data/client_personal_train.csv'),
        'job': pd.read_csv('data/client_job_train.csv'),
        'bank_data': pd.read_csv('data/client_bank_data_train.csv'),
        'transactional_data': pd.read_csv('data/client_transactional_data_train.csv')      
    },
    'test': {
        'personal': pd.read_csv('data/client_personal_test.csv'),
        'job': pd.read_csv('data/client_job_test.csv'),
        'bank_data': pd.read_csv('data/client_bank_data_test.csv'),
        'transactional_data': pd.read_csv('data/client_transactional_data_test.csv')
    }
}

# Data exploration

## Train Data exploration

### 1 - **Checking datasets dimesions**

In [3]:
[print('Dataset: ' + x + ' | Dataset dimension (rows, cols): ' + str(data['train'][x].shape)) for x in data['train'].keys()]

Dataset: personal | Dataset dimension (rows, cols): (68992, 12)
Dataset: job | Dataset dimension (rows, cols): (68992, 9)
Dataset: bank_data | Dataset dimension (rows, cols): (68992, 12)
Dataset: transactional_data | Dataset dimension (rows, cols): (1517581, 7)

[None, None, None, None]

### 2 - **Checking Row example values**

#### 1) Personal datatable

In [4]:
data['train']['personal'].head()

,is_married,age,name,number_of_children,car_licence_plate,address,has_criminal_records,smoker,years_of_education,phone_number,client_id,email_domain
0,False,31,Joel Herrera,2,8R 3A5NOQ,"0550 Tanya Ferry\nFergusonport, IA 41180",False,True,14,(444)128-8524x089,MUMR3875397452595,yahoo.com
1,False,26,Justin Burgess,3,QIE 2694,"080 Emily Springs Suite 947\nSerranostad, AZ 7...",True,True,17,419-736-1369x7810,LNFC4821269126830,hotmail.com
2,True,29,Samantha Brown,3,6KV R45,"59687 Alexander Walk\nEast David, AZ 21330",False,True,17,1209272743,PIGP5747447418648,gmail.com
3,True,34,Jason Ware,1,YL9 0751,"13474 Flores Mall Suite 952\nNorth Erinfort, N...",False,False,8,(282)819-4842,MDZY2927886938414,gmail.com
4,True,33,Ronald Hoffman,3,LPG 832,"31878 Heather Rapids Suite 933\nNorth Marie, A...",False,True,13,142-489-3506,WETM2827630477279,yahoo.com

**Note**:
* Although it is currently not possible, with the help of an hypothetical additional  "*common_names_dataset*" for female and male individuals, genre information can be extracted from _name_ column for future analysis.
* Depending on quality of the information contained in the column _address_ , geographical data might be useful for future analysis. For simplicity we won't do it in this notebook.
* *car_licence_plate*, *phone_number* and *email_domain* columns seem to have no useful information.

#### 2) Job datatable

In [5]:
data['train']['job'].head()

,years_in_current_job,client_id,salary,phone_number,car_licence_plate,company,email_domain,address,current_job
0,10,LCQQ3834995242554,6626,+1-870-455-1656,AUJ 311,"Smith, Walton and Smith",hotmail.com,Unit 4250 Box 5536\nDPO AE 73809,Retail banker
1,10,BRCD7200842828050,8343,519-526-9913x6540,223R5,"Santos, Wilson and Hampton",yahoo.com,"PSC 4581, Box 0827\nAPO AE 63527",Intelligence analyst
2,15,RSAA3840744969487,6728,5360419904,NXV D21,Adkins-Mcneil,yahoo.com,"1036 Susan Roads\nEast Christophermouth, PA 99481",Multimedia specialist
3,8,KZWB7793929593940,7653,+1-245-845-9876x1778,165 6EL,Aguilar-Paul,hotmail.com,"72107 Hernandez Crossing Suite 699\nKnappstad,...","Development worker, community"
4,11,TETJ4085914615232,8437,739-916-7742,919 8NG,Jensen PLC,hotmail.com,"554 Flores Port\nKevinshire, FL 60356",Investment analyst

**Note**:
* Depending on quality of the information contained in the column _address_ , geographical data might be useful for future analysis.
* *car_licence_plate*, *phone_number* and *email_domain* columns seem to have no useful information.

#### 3) Bank datatable
- Notice that this is the table that contains variable to predict: **defaulted_loan**

In [6]:
data['train']['bank_data'].head()

,number_secret_keys_requested,credit_card_provider,number_logs_per_day,first_credit_card_application_date,last_credit_card_application_date,credit_score,credit_card_number,number_of_credit_cards,account_id,credit_card_expire,client_id,defaulted_loan
0,1,VISA 16 digit,3,2011-10-06 17:58:56,2015-10-31 02:43:10,814,3596118963565100,2,RSGD4569350483260,07/27,ZFUU9069197973171,False
1,1,VISA 16 digit,3,2017-07-18 09:22:24,2017-04-06 23:21:34,835,4036708575533672,2,UNKI9301808547977,04/26,EZZZ2264498911884,False
2,1,JCB 16 digit,2,2017-08-04 06:00:26,2015-10-06 07:11:36,1040,5187829527586586,3,PREO5042440106050,09/24,HTIX3716125146816,False
3,1,Mastercard,3,2017-05-12 21:45:03,2016-01-01 23:51:21,808,4069649723930,2,YFMX9024672103664,04/28,WVDK6716021964941,False
4,1,JCB 16 digit,3,2017-06-24 23:49:50,2018-08-12 03:12:38,523,4511324297912,3,VXZA6446374802774,08/24,GPHF8397791795583,False

**Note**:
* Depending on quality of the information contained in the column _address_ , geographical data might be useful for future analysis.
* *credit_card_number*, *phone_number* and *email_domain* columns seem to have no useful information.

#### 4) Bank transactions datatable

In [7]:
data['train']['transactional_data'].head()

,transaction_id,client_id,account_id,date,duration_minutes,amount,type
0,BIGS2655386520335,SQWI6088247113041,UUJG9330648144708,2018-08-21 12:59:47,10,238,Withdrawal
1,BVVC7567878745629,EVEL6951619336672,PZWH9597088886612,2018-07-28 21:21:51,16,387,Withdrawal
2,UUSU6640167293035,MLFH5670327424978,JHZB9470931550704,2018-09-01 00:44:48,12,314,Withdrawal
3,JGXJ2801880132165,VJRK3495233458723,FWHP6221647324126,2018-05-10 07:50:26,16,229,Withdrawal
4,HDQU8860240235988,MFGZ4978234012602,AVPD5598148116569,2018-10-31 23:40:32,7,309,Withdrawal

**Note**:
* 
* *transaction_id* column seem to have no useful information.

### 3 - **Checking Data types**

In [8]:
[print("Datatypes for -" + x + "- dataset are:\n\n" + f"{data['train'][x].dtypes}\n", end = "\n") for x in data['train'].keys()]

Datatypes for -personal- dataset are:

is_married                bool
age                      int64
name                    object
number_of_children       int64
car_licence_plate       object
address                 object
has_criminal_records      bool
smoker                    bool
years_of_education       int64
phone_number            object
client_id               object
email_domain            object
dtype: object

Datatypes for -job- dataset are:

years_in_current_job     int64
client_id               object
salary                   int64
phone_number            object
car_licence_plate       object
company                 object
email_domain            object
address                 object
current_job             object
dtype: object

Datatypes for -bank_data- dataset are:

number_secret_keys_requested           int64
credit_card_provider                  object
number_logs_per_day                    int64
first_credit_card_application_date    object
last_credit_card_application_date     object
credit_score                           int64
credit_card_number                     int64
number_of_credit_cards                 int64
account_id                            object
credit_card_expire                    object
client_id                             object
defaulted_loan                          bool
dtype: object

Datatypes for -transactional_data- dataset are:

transaction_id      object
client_id           object
account_id          object
date                object
duration_minutes     int64
amount               int64
type                object
dtype: object

[None, None, None, None]

### 4 - **Checking Null Values**

In [9]:
[print("Dataset -" + x + "- contains the following number of null values by feature: \n\n" + f"{data['train'][x].isnull().sum()}\n", end = "\n") for x in data['train'].keys()]

Dataset -personal- contains the following number of null values by feature:

is_married              0
age                     0
name                    0
number_of_children      0
car_licence_plate       0
address                 0
has_criminal_records    0
smoker                  0
years_of_education      0
phone_number            0
client_id               0
email_domain            0
dtype: int64

Dataset -job- contains the following number of null values by feature:

years_in_current_job    0
client_id               0
salary                  0
phone_number            0
car_licence_plate       0
company                 0
email_domain            0
address                 0
current_job             0
dtype: int64

Dataset -bank_data- contains the following number of null values by feature:

number_secret_keys_requested          0
credit_card_provider                  0
number_logs_per_day                   0
first_credit_card_application_date    0
last_credit_card_application_date     0
credit_score                          0
credit_card_number                    0
number_of_credit_cards                0
account_id                            0
credit_card_expire                    0
client_id                             0
defaulted_loan                        0
dtype: int64

Dataset -transactional_data- contains the following number of null values by feature:

transaction_id      0
client_id           0
account_id          0
date                0
duration_minutes    0
amount              0
type                0
dtype: int64

[None, None, None, None]

**Note**:
    * No missing values found in the train set.

### 5 - **Checking number of repeated values in ID columns**

This is done to define what kind of merging to do later on the datasets and expect certain behavior.

In [10]:
for dataset in data["train"]:
    df = data["train"][dataset]
    print("-"*100)
    print("For dataset " + dataset)
    for id_col in df.columns:
        if "_id" in id_col:
            num_uniques = len(df[id_col].unique())
            print("There are "+ str(num_uniques) + " distinct " + id_col)

----------------------------------------------------------------------------------------------------
For dataset personal
There are 68992 distinct client_id
----------------------------------------------------------------------------------------------------
For dataset job
There are 68992 distinct client_id
----------------------------------------------------------------------------------------------------
For dataset bank_data
There are 68992 distinct account_id
There are 68992 distinct client_id
----------------------------------------------------------------------------------------------------
For dataset transactional_data
There are 1517581 distinct transaction_id
There are 68992 distinct client_id
There are 68992 distinct account_id

From the previous outputs we can conclude that:
- There are no repeated clients in the personal dataset.
- One client has exactly one job in the job dataset.
- One client has exactly one account in the bank data dataset.
- One client has 1 or more transactions in the transactional dataset.

**Note**:

In order to later use the dataset *transactional data* to make one single prediction per client, we have to group the data by client, engineering features from it.

### 6 - **Label stats**
- **defaulted_loan**: if True, it means that the client defaulted the loan. If False, client paid the loan.
- **Our interest is to predict if a credit applicant (client_id) will default the loan.**

In [11]:
data['train']['bank_data']['defaulted_loan'].value_counts()

False    65527
True      3465
Name: defaulted_loan, dtype: int64

In [12]:
100 * np.round(data['train']['bank_data']['defaulted_loan'].value_counts() / data['train']['bank_data'].shape[0], 2)

False    95.0
True      5.0
Name: defaulted_loan, dtype: float64

**Note**:
- Currently, only 5% of the portfilio has defaulted the loan. This indicates that we will have to later manage an unbalanced label dataset to get better expected results.

## Test set exploration

In [13]:
[print('Dataset: ' + x + ' | Dataset dimension (rows, cols): ' + str(data['test'][x].shape)) for x in data['test'].keys()]

Dataset: personal | Dataset dimension (rows, cols): (29568, 12)
Dataset: job | Dataset dimension (rows, cols): (29568, 9)
Dataset: bank_data | Dataset dimension (rows, cols): (29568, 11)
Dataset: transactional_data | Dataset dimension (rows, cols): (649132, 7)

[None, None, None, None]

In [14]:
[print("Dataset -" + x + "- contains the following number of null values by feature: \n\n" + f"{data['test'][x].isnull().sum()}\n", end = "\n") for x in data['test'].keys()]

Dataset -personal- contains the following number of null values by feature:

is_married              0
age                     0
name                    0
number_of_children      0
car_licence_plate       0
address                 0
has_criminal_records    0
smoker                  0
years_of_education      0
phone_number            0
client_id               0
email_domain            0
dtype: int64

Dataset -job- contains the following number of null values by feature:

years_in_current_job    0
client_id               0
salary                  0
phone_number            0
car_licence_plate       0
company                 0
email_domain            0
address                 0
current_job             0
dtype: int64

Dataset -bank_data- contains the following number of null values by feature:

number_secret_keys_requested          0
credit_card_provider                  0
number_logs_per_day                   0
first_credit_card_application_date    0
last_credit_card_application_date     0
credit_score                          0
credit_card_number                    0
number_of_credit_cards                0
account_id                            0
credit_card_expire                    0
client_id                             0
dtype: int64

Dataset -transactional_data- contains the following number of null values by feature:

transaction_id      0
client_id           0
account_id          0
date                0
duration_minutes    0
amount              0
type                0
dtype: int64

[None, None, None, None]

**Note**:
- No missing values found in the train set.

For simplicity, we will assume:
* Test set comes from the same distribution as train set (therefore the same distribution of dev set).
* Test set does not contain values not contained in the train set for categorical one-hot encoded features (as this would require to handle this exceptions by replacing those values, droping rows with those values or redefining the feature encoding).

# Data wrangling and feature extraction for Exploratory Data Analysis (EDA)

The goal of this section is to preprocess data to make EDA reveal clearer patterns more easily.

In this section we preprocess train and test data the same way to later be able to use the same model to make predictions on both.

**Note**:

Feature extraction is only one of a series of iterative trial and error steps in the machine learning cycle. This is only a first approach.

## Dropping not useful columns from datasets

As mentioned on the Train Data Exploration section, we may remove the following unuseful feature columns from datasets:
* name
* address
* car_licence_plate
* phone_number
* email_domain 
* credit_card_number

In [15]:
columns_to_drop = ["car_licence_plate", "phone_number", "email_domain", "name", "address", 
                   "credit_card_number", "credit_card_number"]

for dataset in data["train"]:
    data["train"][dataset] = \
    data["train"][dataset].drop([columname for columname in data["train"][dataset].columns
                                 if columname in columns_to_drop], axis = 1)
    print("* " + dataset + " training dataset " + " columns:")
#     print(data["train"][dataset].columns.values, end = "\n\n") # Uncomment this line to validate if the operation is succesful

for dataset in data["test"]:
    data["test"][dataset] = \
    data["test"][dataset].drop([columname for columname in data["test"][dataset].columns 
                                 if columname in columns_to_drop], axis = 1)
#     print(data["test"][dataset].columns) # Uncomment this line to validate if the operation is succesful

* personal training dataset  columns:
* job training dataset  columns:
* bank_data training dataset  columns:
* transactional_data training dataset  columns:

## Converting date columns to datetime type

The following columns currently are of type "object", they should be of type "datetime":
* credit_card_expire (from bank_data dataset)
* first_credit_card_application_date (from bank_data dataset)
* last_credit_card_application_date (from bank_data dataset)
* date (from transactional_data dataset)

In [16]:
for dataset in ["train", "test"]:
    data[dataset]["bank_data"].credit_card_expire = data[dataset]["bank_data"].credit_card_expire.apply(lambda x: pd.to_datetime(r"01/" +x ))
    data[dataset]["bank_data"].first_credit_card_application_date = data[dataset]["bank_data"].first_credit_card_application_date.apply(pd.to_datetime, format="%Y-%m-%d %H:%M:%S")
    data[dataset]["bank_data"].last_credit_card_application_date = data[dataset]["bank_data"].last_credit_card_application_date.apply(pd.to_datetime, format="%Y-%m-%d %H:%M:%S")
    data[dataset]["transactional_data"].date = data[dataset]["transactional_data"].date.apply(pd.to_datetime, format="%Y-%m-%d %H:%M:%S")

Showing data successful type transformation:

In [17]:
data["train"]["bank_data"][["credit_card_expire", "first_credit_card_application_date", 
                            "last_credit_card_application_date"]].dtypes

credit_card_expire                    datetime64[ns]
first_credit_card_application_date    datetime64[ns]
last_credit_card_application_date     datetime64[ns]
dtype: object

In [18]:
data["train"]["transactional_data"][["date"]].dtypes

date    datetime64[ns]
dtype: object

## Generating *transactional_data* dataset grouped by _client_id_

In [19]:
for dataset in ["train", "test"]:
    df = data[dataset]["transactional_data"]
    # Defining new dataset with a single column of unique client IDs
    data[dataset]["transactional_data_gr"] = pd.DataFrame(pd.Series(df.client_id.unique()), columns = ["client_id"])
    # Filtering transactional_data dataset for each transaction type to calculate aggregation metrics on it
    for transaction_type in df.type.unique():
        temp = df[df.type == transaction_type]
        # Calculating aggregation metrics
        temp = temp.groupby(["client_id"]).agg({"client_id": "count", "amount": ["mean", "sum"], "duration_minutes": "mean", "date": ["min", "max"]})
        temp = temp.rename(columns = {"client_id": "num_transactions"})
        temp.columns = [(transaction_type.lower() + "_" + col[0] + "_" + col[1]) for col in temp.columns] # Renaming columns by transaction type
        temp = temp.reset_index()
        data[dataset]["transactional_data_gr"] = data[dataset]["transactional_data_gr"].merge(temp, on = "client_id")
    # Making sure all client_id rows are unique
    assert len(data[dataset]["transactional_data_gr"]) == len(data[dataset]["transactional_data_gr"].client_id.unique())

print("The transactional_data_gr dataset contains the following columns generated by grouping by client_id: \n ")
print(data[dataset]["transactional_data_gr"].columns.values)

The transactional_data_gr dataset contains the following columns generated by grouping by client_id:

['client_id' 'withdrawal_num_transactions_count' 'withdrawal_amount_mean'
 'withdrawal_amount_sum' 'withdrawal_duration_minutes_mean'
 'withdrawal_date_min' 'withdrawal_date_max'
 'deposit_num_transactions_count' 'deposit_amount_mean'
 'deposit_amount_sum' 'deposit_duration_minutes_mean' 'deposit_date_min'
 'deposit_date_max']

The feature-engineered columns generated so far are for each transaction type:
* number of transactions
* mean and total sum of amounts
* mean duration (in minutes)
* max and min transaction dates

Showing the resulting grouped dataset:

In [20]:
data["train"]["transactional_data_gr"].head()

,client_id,withdrawal_num_transactions_count,withdrawal_amount_mean,withdrawal_amount_sum,withdrawal_duration_minutes_mean,withdrawal_date_min,withdrawal_date_max,deposit_num_transactions_count,deposit_amount_mean,deposit_amount_sum,deposit_duration_minutes_mean,deposit_date_min,deposit_date_max
0,SQWI6088247113041,16,272.812500,4365,11.812500,2018-02-07 02:55:08,2018-12-26 04:26:36,11,304.363636,3348,12.454545,2018-01-14 10:38:35,2018-10-17 13:25:52
1,EVEL6951619336672,20,323.300000,6466,12.300000,2018-02-20 03:57:58,2018-12-17 05:28:46,11,279.636364,3076,13.545455,2018-01-15 19:35:45,2018-12-19 13:54:34
2,MLFH5670327424978,15,322.000000,4830,12.133333,2018-01-25 18:07:55,2018-12-29 23:21:53,8,298.625000,2389,10.875000,2018-02-11 02:15:42,2019-01-04 11:27:07
3,VJRK3495233458723,27,321.518519,8681,12.000000,2018-01-09 00:09:17,2018-12-31 23:13:15,12,285.000000,3420,10.333333,2018-01-09 16:54:29,2018-12-24 16:15:12
4,MFGZ4978234012602,25,310.840000,7771,11.800000,2018-01-26 17:26:30,2019-01-04 05:08:41,14,297.071429,4159,13.142857,2018-01-08 08:54:44,2018-11-13 16:28:25

In [21]:
data["train"]["transactional_data_gr"].dtypes

client_id                                    object
withdrawal_num_transactions_count             int64
withdrawal_amount_mean                      float64
withdrawal_amount_sum                         int64
withdrawal_duration_minutes_mean            float64
withdrawal_date_min                  datetime64[ns]
withdrawal_date_max                  datetime64[ns]
deposit_num_transactions_count                int64
deposit_amount_mean                         float64
deposit_amount_sum                            int64
deposit_duration_minutes_mean               float64
deposit_date_min                     datetime64[ns]
deposit_date_max                     datetime64[ns]
dtype: object

## Merging datasets into single train and test dataframes

In [22]:
for d_set in ["train", "test"]:    
    data[d_set]["merged_"+d_set] = data[d_set]['personal'].merge(data["train"]['job'], on = "client_id", how = "left")
    data[d_set]["merged_"+d_set] = data[d_set]["merged_"+d_set].merge(data[d_set]['bank_data'], on = "client_id", how = "left")
    data[d_set]["merged_"+d_set] = data[d_set]["merged_"+d_set].merge(data[d_set]['transactional_data_gr'], on = "client_id", how = "left")
    # Droping id columns except client_id
    data[d_set]["merged_"+d_set] = data[d_set]["merged_"+d_set].drop(["account_id"], axis = 1)

print("The final " + str(len(data["train"]["merged_train"].columns)) + " trainset columns are: \n\n " + \
  str(data["train"]["merged_train"].columns))

The final 32 trainset columns are:

 Index(['is_married', 'age', 'number_of_children', 'has_criminal_records',
       'smoker', 'years_of_education', 'client_id', 'years_in_current_job',
       'salary', 'company', 'current_job', 'number_secret_keys_requested',
       'credit_card_provider', 'number_logs_per_day',
       'first_credit_card_application_date',
       'last_credit_card_application_date', 'credit_score',
       'number_of_credit_cards', 'credit_card_expire', 'defaulted_loan',
       'withdrawal_num_transactions_count', 'withdrawal_amount_mean',
       'withdrawal_amount_sum', 'withdrawal_duration_minutes_mean',
       'withdrawal_date_min', 'withdrawal_date_max',
       'deposit_num_transactions_count', 'deposit_amount_mean',
       'deposit_amount_sum', 'deposit_duration_minutes_mean',
       'deposit_date_min', 'deposit_date_max'],
      dtype='object')

In [23]:
data["train"]["merged_train"].head()

,is_married,age,number_of_children,has_criminal_records,smoker,years_of_education,client_id,years_in_current_job,salary,company,...,withdrawal_amount_sum,withdrawal_duration_minutes_mean,withdrawal_date_min,withdrawal_date_max,deposit_num_transactions_count,deposit_amount_mean,deposit_amount_sum,deposit_duration_minutes_mean,deposit_date_min,deposit_date_max
0,False,31,2,False,True,14,MUMR3875397452595,10,9383,"Williams, Bailey and Smith",...,1981.0,13.666667,2018-02-06 07:26:03,2018-12-20 11:54:47,1.0,369.000000,369.0,11.000000,2018-08-05 15:35:14,2018-08-05 15:35:14
1,False,26,3,True,True,17,LNFC4821269126830,8,5205,"Kim, Salas and Snyder",...,9341.0,11.655172,2018-01-30 22:33:51,2018-12-19 12:56:47,12.0,324.166667,3890.0,11.583333,2018-02-15 20:13:32,2018-12-24 22:08:13
2,True,29,3,False,True,17,PIGP5747447418648,15,10431,Coleman LLC,...,5781.0,13.555556,2018-04-08 10:49:24,2018-12-31 09:00:30,7.0,297.428571,2082.0,13.857143,2018-03-05 06:57:03,2018-12-07 07:20:14
3,True,34,1,False,False,8,MDZY2927886938414,9,8779,"Hogan, Trujillo and Hall",...,5393.0,12.529412,2018-01-24 17:03:46,2019-01-03 16:36:42,6.0,392.500000,2355.0,13.500000,2018-01-26 20:52:54,2018-11-26 08:12:05
4,True,33,3,False,True,13,WETM2827630477279,14,5747,Clay Inc,...,3371.0,11.727273,2018-01-30 06:56:41,2018-12-25 12:46:04,6.0,301.833333,1811.0,12.666667,2018-03-17 14:15:40,2018-12-08 06:15:37

## Further feature engineering

We may perform further feature engineering by defining the next columns:

* transaction_days_range : Range of days between first and last transaction (float32).
* first_transaction_month : Month of first transaction (str).
* first_transaction_year : Year of first transaction (str).
* monthly_avg_withdrawals : Monthly average withdrawal number (float32).
* monthly_avg_deposits : Monthly average deposit number (float32).
* monthly_avg_w_amount : Monthly average withdrawal amount (float32).
* monthly_avg_d_amount : Monthly average deposit amount (float32).
* first_cc_app_month : Month of first credit card application date (str).
* first_cc_app_year : Year of first credit card application date (str).
* cc_expire_month : Month of credit card expire date (str).
* cc_expire_year : Year of credit card expire date (str).

In [24]:
def feat_eng(df):
    df["first_transaction"] = df.apply(lambda x: max(x.withdrawal_date_min, x.deposit_date_min), axis = 1)
    df["last_transaction"] = df.apply(lambda x: min(x.withdrawal_date_max, x.deposit_date_max), axis = 1)
    df["transaction_days_range"] = df.apply(lambda x: (x.last_transaction - x.first_transaction).days, axis = 1)
    df["first_transaction_month"] = df.apply(lambda x: min(x.withdrawal_date_min, x.deposit_date_min).month, axis = 1)
    df["first_transaction_year"] = df.apply(lambda x: min(x.withdrawal_date_min, x.deposit_date_min).year, axis = 1)
    df["monthly_avg_withdrawals"] = df.withdrawal_num_transactions_count/(df.transaction_days_range.apply(lambda x: x/30))
    df["monthly_avg_deposits"] = df.deposit_num_transactions_count/(df.transaction_days_range.apply(lambda x: x/30))
    df["monthly_avg_w_amount"] = df.withdrawal_amount_sum/(df.transaction_days_range.apply(lambda x: x/30))
    df["monthly_avg_d_amount"] = df.deposit_amount_sum/(df.transaction_days_range.apply(lambda x: x/30))
    df["first_cc_app_month"] =  df.first_credit_card_application_date.apply(lambda x: x.month)
    df["first_cc_app_year"] :df.first_credit_card_application_date.apply(lambda x: x.year)
    df["cc_expire_month"] = df.credit_card_expire.apply(lambda x: x.month)
    df["cc_expire_year"] = df.credit_card_expire.apply(lambda x: x.year)
    return df

for d_set in ["train", "test"]:    
    data[d_set]["merged_"+d_set] = feat_eng(data[d_set]["merged_"+d_set])

And droping the following (not useful anymore) columns:

* first_transaction
* last_transaction
* withdrawal_date_min
* withdrawal_date_max
* deposit_date_min
* deposit_date_max
* first_credit_card_application_date
* last_credit_card_application_date
* creditcard_expire

In [25]:
columns_to_drop = ["first_transaction",
                   "last_transaction", 
                   "withdrawal_date_min", 
                    "withdrawal_date_max",
                    "deposit_date_min",
                    "first_credit_card_application_date",
                    "last_credit_card_application_date",
                    "deposit_date_min", 
                    "deposit_date_max", 
                    "credit_card_expire"]


data["train"]["merged_train"] = data["train"]["merged_train"].drop(columns_to_drop, axis = 1)
data["test"]["merged_test"] = data["test"]["merged_test"].drop(columns_to_drop, axis = 1)

We obtain the following resulting merged dataset:

In [26]:
data["train"]["merged_train"].head()

,is_married,age,number_of_children,has_criminal_records,smoker,years_of_education,client_id,years_in_current_job,salary,company,...,transaction_days_range,first_transaction_month,first_transaction_year,monthly_avg_withdrawals,monthly_avg_deposits,monthly_avg_w_amount,monthly_avg_d_amount,first_cc_app_month,cc_expire_month,cc_expire_year
0,False,31,2,False,True,14,MUMR3875397452595,10,9383,"Williams, Bailey and Smith",...,0.0,2.0,2018.0,inf,inf,inf,inf,4,1,2023
1,False,26,3,True,True,17,LNFC4821269126830,8,5205,"Kim, Salas and Snyder",...,306.0,1.0,2018.0,2.843137,1.176471,915.784314,381.372549,11,1,2026
2,True,29,3,False,True,17,PIGP5747447418648,15,10431,Coleman LLC,...,242.0,3.0,2018.0,2.231405,0.867769,716.652893,258.099174,6,1,2020
3,True,34,1,False,False,8,MDZY2927886938414,9,8779,"Hogan, Trujillo and Hall",...,303.0,1.0,2018.0,1.683168,0.594059,533.960396,233.168317,9,1,2029
4,True,33,3,False,True,13,WETM2827630477279,14,5747,Clay Inc,...,265.0,1.0,2018.0,1.245283,0.679245,381.622642,205.018868,8,1,2028

With column types:

In [27]:
data["train"]["merged_train"].dtypes

is_married                                     bool
age                                           int64
number_of_children                            int64
has_criminal_records                           bool
smoker                                         bool
years_of_education                            int64
client_id                                    object
years_in_current_job                          int64
salary                                        int64
company                                      object
current_job                                  object
number_secret_keys_requested                  int64
credit_card_provider                         object
number_logs_per_day                           int64
credit_score                                  int64
number_of_credit_cards                        int64
defaulted_loan                                 bool
withdrawal_num_transactions_count           float64
withdrawal_amount_mean                      float64
withdrawal_amount_sum                       float64
withdrawal_duration_minutes_mean            float64
deposit_num_transactions_count              float64
deposit_amount_mean                         float64
deposit_amount_sum                          float64
deposit_duration_minutes_mean               float64
first_transaction                    datetime64[ns]
last_transaction                     datetime64[ns]
transaction_days_range                      float64
first_transaction_month                     float64
first_transaction_year                      float64
monthly_avg_withdrawals                     float64
monthly_avg_deposits                        float64
monthly_avg_w_amount                        float64
monthly_avg_d_amount                        float64
first_cc_app_month                            int64
cc_expire_month                               int64
cc_expire_year                                int64
dtype: object

# Exploratory Data Analysis

## Dividing features by data type

To generate better graphs, lets divide features into data into categorical, boolean and numerical data.

In [28]:
eda_df = data["train"]["merged_train"].reset_index(drop = True)
cat_cols = []
bool_cols = []
num_cols = []

for column in eda_df.columns[eda_df.columns != "client_id"]:
    if data["train"]["merged_train"][column].dtypes in ["object"]:
        cat_cols.append(column)
    elif data["train"]["merged_train"][column].dtypes in ["bool"]:
        bool_cols.append(column)
    else:
        num_cols.append(column)

## Plotting categorical data

Counting number of unique values for categorical data:

In [29]:
for col in cat_cols:
    print(col)
    print(len(eda_df[col].unique()))

company
49178
current_job
639
credit_card_provider
10

### Exploring company column

Company column seems to not be a candidate for one-hot encoding without preprocessing, as it would generate 49178 columns.

We can analyze the number of times a company appears in our training dataset to try grouping more relevant values (values for wich we may identify a clear pattern).

In [30]:
company_df = eda_df.groupby("company", as_index = False).agg({"client_id": "count"})[["company", "client_id"]].rename(columns = {"client_id": "rows_count"})
company_df.sort_values("rows_count", ascending = False).head()

           company  rows_count
40552    Smith PLC          97
40548  Smith Group          93
40550    Smith LLC          92
40551    Smith Ltd          77
21454  Johnson PLC          76

In [31]:
company_df.describe()

         rows_count
count  49178.000000
mean       1.402904
std        2.349346
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       97.000000

We can observe that at least 75% of the 49178 listed companies have a single row (client_id) in our dataset, and the company with most rows is Smith PLC (97 rows).

In [ ]:
companies_x_employees = company_df["rows_count"].value_counts()
companies_x_employees = companies_x_employees.reset_index().rename(columns = {"index": "num_employees", "rows_count": "num_companies"})
more_20_emp_companies = companies_x_employees[companies_x_employees.num_employees > 20]
print("By grouping all companies with 20 or more employees we are now left with: " + str(len(more_20_emp_companies)) + " companies")

Let's replace the values from the company column of the companies with less than 20 employees with the string "Not Relevant" and plot it.

In [ ]:
companies_to_replace = company_df[company_df.rows_count <= 20].company.unique()
eda_df[eda_df.company.isin(companies_to_replace)] = "Not Relevant"
# sns.countplot(x = "company", data = eda_df)
len(eda_df.company.unique())

### Exploring current_job column

Company column seems to not be a candidate for one-hot encoding without preprocessing, as it would generate 639 columns.

We can analyze the number of times a job appears in our training dataset to group the more relevant values (values for wich we may identify a clear pattern).

## Plotting scatterplots between features

In [ ]:
sns.pairplot(data["train"]["personal"].merge(data["train"]["bank_data"][["client_id", "defaulted_loan"]], 
                                             on = "client_id", how = "left"), hue="defaulted_loan", diag_kind="kde", s = 1)

In [ ]:
sns.pairplot(data["train"]["job"].merge(data["train"]["bank_data"][["client_id", "defaulted_loan"]], 
                                             on = "client_id", how = "left"), hue="defaulted_loan", diag_kind="kde")

## Plotting pearson correlation matrix between features

In [ ]:
# Calculate the correlation matrix
corr = data["train"]["merged_train"].corr()

# Plot the heatmap

# plot the heatmap
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns,
        linewidths=.5,
       cmap="RdBu_r", center = 0)

# Feature extraction after Exploratory Data Analysis (EDA)

A well designed EDA may lead us to the creation of relevant features.

The goal of this section is to example the implementation of two features derived from EDA:
* salary_per_children
* salary_per_education_year

In [ ]:
data["train"]["merged_train"].dtypes

# Building and comparing models performance

## Defining data wrangling pipeline steps

### 1) Null values Imputing

Theo need to do imputing as the trainset and testset do not contain missing values 

### 2) Encoding categorical columns

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#Separating categorical columns and numeric columns
bool_columns = []
categoric_columns = []
numeric_columns = []
date_columns = []
for x in data["train"]["merged_train"].columns:
    if data["train"]["merged_train"][x].dtypes in ["object"]:
        categoric_columns.append(x)
    elif data["train"]["merged_train"][x].dtypes in ["bool"]:
        bool_columns.append(x)
    elif data["train"]["merged_train"][x].dtypes in ["int64", "float64"]:
        numeric_columns.append(x)
    else:
        date_columns.append(x)
#Preprocessing date columns
for col in date_columns:
    data["train"]["merged_train"][col+"_year"] = data["train"]["merged_train"][col].dt.year
    data["train"]["merged_train"][col+"_month"] = data["train"]["merged_train"][col].dt.month
    data["train"]["merged_train"][col+"_day"] = data["train"]["merged_train"][col].dt.day
    data["train"]["merged_train"][col+"_quarter"] = data["train"]["merged_train"][col].dt.quarter
    data["train"]["merged_train"] = data["train"]["merged_train"].drop([col], axis = 1)

categoric_pipe = ColumnTransformer([
                                    ("ohe", OneHotEncoder(), categoric_columns)],
                                   remainder = "passthrough")
x = categoric_pipe.fit_transform(data["train"]["merged_train"])

## Defining train and dev sets

It is necessary to train the model my measuring it's performance on not seen data (usually called dev set). 
We will assign 80% of the original train set data to our newly defined train set and the rest of 20% data to the dev set.

In [ ]:
# Shuffle train set
from sklearn.model_selection import train_test_split
x, y = shuffle(data["train"]["merged_train"].drop(["defaulted_loan"], axis = 1), data["train"]["merged_train"]["defaulted_loan"])
# Assign 80% data to train set 20% data to dev set
x_train, x_dev, y_train, y_dev = train_test_split(x,
                                                  y,
                                                  test_size = 0.2)
from imblearn.oversampling import SMOTE

## Fitting pipelines to the dataset

### 1) Logistic Regression Model pipeline

## Random Forest Model

# Error analysis

In this section we further explore the instances in which the model made a wrong prediction to try to find patters, generate model improval propositions and measure the time investment / reward ratio of each to take a decision of the next step to perform.

# ELI5

Bla... por que ELI5?

# CSV output

In [ ]:
demo_output.head()

In [ ]:
# Export as CSV
demo_output.to_csv('growth_ds_challenge_luis_garcia.csv')

# References:

The problem definition was heavily influenced by

[1] https://towardsdatascience.com/predicting-loan-repayment-5df4e0023e92